@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model IEnumerable<Forum.Web.ViewModels.TopicVm>
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<div class="container p-3">

    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">FORUM</h2>
        </div>
        @if (SignInManager.IsSignedIn(User))
        {
            <div class="col-6 text-end">
                <a asp-controller="Topic" asp-action="Create" class="btn btn-primary">
                    <i class="bi bi-plus-circle"></i> &nbsp; Create New Topic
                </a>
            </div>
        }
    </div>
    <br /><br />

    <table class="table table-bordered table-striped">
        <thead>
        <tr>
            <th>Title</th>
            <th>Description</th>
            <th>Creator</th>
            <th>Date</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        @foreach (var obj in Model)
        {
            <tr>
                <td>@obj.Title</td>
                <td>@Html.Raw(@obj.Description)</td>
                <td>@obj.UserName</td>
                <td>@obj.CreationDate</td>
                <td>
                    @if (SignInManager.IsSignedIn(User) && UserManager.GetUserId(User) == @obj.AppUserId)
                    {
                        <div class="btn-group" role="group">
                            <a class="btn btn-primary mx-1" asp-controller="Topic" asp-action="Index" asp-route-topicId="@obj.Id"><i class="bi bi-pencil-square"></i>Edit</a>
                            <a class="btn btn-danger mx-1" asp-controller="Topic" asp-action="Delete" asp-route-topicId="@obj.Id"><i class="bi bi-trash-fill"></i>Delete</a>
                        </div>
                    }
                </td>
            </tr>
        }
        </tbody>
    </table>
</div>

